@media (max-width: 640px) {

  header {
    position: relative;

    img {
      max-width: 150px;
    }
  }

  .tagline {
    padding-top: 40px;
    padding-left: 0;
    text-align: center;

    &:before,
    &:after {
      height: 3px;
      width: 100px;
      left: 0;
      right: 0;
      margin: auto;
    }

    &:before {
      top: 5px;
    }

    &:after {
      top: 15px;
      width: 50px;
    }
  }

  .content-wrapper {
    padding-top: 40px;
  }

  form.form-steps .wastage {
    max-width: 200px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -20px;
  }

  .form-wrapper {
    .country-select__input-group {
      input {
        width: 100%;
        height: 56px;
      }
    }
  }

  .contact-form .footer-text {
    padding: 0 50px;


    img {
      top: -20px;
    }
  }
}