// Tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

// Desktop Styles

@import 'desktop';

// Mobile Styles

@import 'mobile';


.search-container {
	position: relative;

	.form-control {
		height: 59px;
		background-color: #D9D9D9;
	}

	.options-list {
		position: absolute;
		border-radius: 4px;
		width: 100%;
		max-height: 200px;
		overflow-y: auto;
		background-color: #fff;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

		.options {
			padding: 0;
			margin: 0;

			li {
				padding: 8px 24px;
				border-bottom: 1px solid rgba(100, 100, 111, 0.2);
				display: flex;

				img {
					margin-right: 16px;
				}
			}
		}

		.no-options {
			padding: 24px;
			text-align: center;
		}
	}
}

*[disabled] {
	pointer-events: none;
	opacity: .6;
}